<!DOCTYPE html>
<html>
  <head>
    <title>Binance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
    <script type="text/javascript">
      window.imageUrl = { binanceLogo: "<%=image_url("binance-logo.png") %>", 
                          stellar: "<%=image_url("steller.gif") %>",
                          advertise: "<%=image_url("advertisement.png") %>",
                          BTC: "<%=image_url("BTC.png") %>",
                          ETH: "<%=image_url("ETH.png") %>",
                          BCH: "<%=image_url("BCH.png") %>",
                          BNB: "<%=image_url("BNB.svg") %>",
                          LTC: "<%=image_url("LTC.png") %>",
                          TRX: "<%=image_url("TRX.png") %>",
                          XRP: "<%=image_url("XRP.png") %>",  
                          XLM: "<%=image_url("XLM.png") %>",
                          DASH: "<%=image_url("DASH.png") %>",
                          ONT: "<%=image_url("ONT.png") %>",
                          NEO: "<%=image_url("NEO.png") %>",
                          
                          graphA: "<%=image_url("graphA.png") %>",
                          graphB: "<%=image_url("graphB.png") %>",
                          graphC: "<%=image_url("graphC.png") %>",
                          HOMEPAGE: "<%=image_url("homepage.png") %>",
                          PARSEMETHOD: "<%=image_url("parse_methods.png") %>",}
    </script>
  <body>
    <%= yield %>
  </body>
</html>
