<!DOCTYPE html>
<html>
  <head>
    <title>Binance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
    <script type="text/javascript">
      window.imageUrl = { binanceLogo: "<%=image_url("binance-logo.png") %>", 
                          starrySky: "<%=image_url("starrySky.gif") %>",
                          stellar: "<%=image_url("steller.gif") %>" }
    </script>
  <body>
    <%= yield %>
  </body>
</html>
